*{
    margin: 0;
    padding: 0;
}
.form{
    text-align: center;
    margin: 0 auto;
    background-color: darkolivegreen;
    color: azure;
    max-width: 700px;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 1rem;
}